{{> head}}

{{> navbar}}
<div class="row">
<div class="col-8">
<h1>We Are The World We Want To Reflect</h1>
<p>Album by Cdarckcharlie</p>
</div>
<div class="col-4">
<img src="assets/img/we-are-the-world-we-want-to-reflect.png" class="img-thumbnail">
</div>

</div>

{{> footer }}
